#title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    text-transform: capitalize;
}

#help-button {
    position: absolute;
    top: 0px;
    right: 20px;
    line-height: 40px;
    cursor: pointer;
}

#help-button::hover {
    color:blue;
}

#plot-area {
    position: absolute;
    left: 805px;
    right: 0px;
    bottom: 40px;
    top: 40px;
}

#script-area {
    position: absolute;
    left: 0px;
    top: 40px;
    width: 800px;
    bottom: 80px;
    border-right: 5px solid gray;
    font-size: 16px;
}

#command-area {
    position: absolute;
    left: 0px;
    bottom: 40px;
    height: 40px;
    width: 388px;
    text-align: right;
    background: lightskyblue;
    line-height: 40px;
    border-right: 5px solid gray;
    padding-right: 12px;
}

#command-area button {
    padding: 5px;
    background: #509dbd;
    border: 1px solid blue;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
#command-area span:hover {
    text-decoration: underline;
}


#header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 39px;
    background-color: lightgray;
    border-bottom: 1px solid grey;
}

#footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 39px;
    border-top: 1px solid grey;
    background-color: lightgray;
    text-align: right; 
}

#info {
    line-height: 40px;
    padding-right: 2px;
    padding-right: 20px;
    font-family: "Courier New", Courier, monospace;
}

/* plot-area hints*/
#vertical-hint {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -1px;
    width: 0px;
    border-left: 1px dashed lightblue;
}


#horizontal-hint {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -1px;
    height: 0px;
    border-top: 1px dashed lightblue;
}


/* TERMINAL*/

#console-area {
    position: absolute;
    left: 405px;
    right: 0px;
    bottom: 40px;
    height: 200px;
    background: lightsalmon;
}
#console-tabs {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    background: lightskyblue;
}
#console-tabs span {
    padding: 5px;
    margin-left: 5px;
    border: 1px solid salmon;
    border-radius: 6px;
    cursor: pointer;
}
#console-tabs span:hover {
    text-decoration:underline;
}
#console-tabs span.selected {
    font-weight: bold;
}

#console-debug {
    visibility: hidden;
    font-family: "Courier New";
}
#console-output {
    font-family: "Courier New";
}

#hidden-input {
    /* display: none; */
}